.grid {
  background-color: yellow;
  position: relative;
  overflow: hidden;
}

.platformSection {
  position: absolute;
}

.doodler {
  width: 60px;
  height: 85px;
  position: absolute;
  background-color: red;
}

.platform {
  background-color: green;
  position: absolute;
}
