.grid {
  background-color: yellow;
  position: relative;
  overflow: hidden;
}

.platformSection {
  position: absolute;
}

.doodler {
  width: 60px;
  height: 85px;
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.205); */
}

.platform {
  background-color: green;
  position: absolute;
}

.score-board {
  position: absolute;
  top: 0px;
  font-size: 2em;
  width: 100%;
  height: 3em;
  background-color: rgba(255, 105, 180, 0.253);
  text-align: right;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.562);
  visibility: hidden;
}

canvas {
  position: absolute;
}
